html,
body {
  height: 100vh;
  margin: 0px;
}

body,
header,
main,
aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 90%;
  width: 90%;
}

header {
  background-color: red;
}

main {
  background-color: greenyellow;
}

aside {
  background-color: purple;
}
